<%= form_for post do |f| %>
	<div>
		<%= f.label :title %>
		<%= f.text_field :title, class: "form-control span12" %>
	</div>

	<div>
		<%= f.label :body %>
		<%= f.text_area :body, class: "wysihtml5 form-control span12" %>
	</div>

	<script type="text/javascript">
	  $('.wysihtml5').each(function(i, elem) {
			$(elem).wysihtml5();
		});
	</script>

	<div>
		<%= f.submit class: "btn btn-primary" %>
		<%= link_to "Cancel", :back , class: "btn btn-default" %>
	</div>
<% end -%>