<%= form_for post do |f| %>
	<div class="form-group">
		<%= f.label :title %>
		<%= f.text_field :title, class: "form-control" %>
	</div>

	<div class="form-group">
		<%= f.text_area :body, class: "wysihtml5 form-control" %>

		<script type="text/javascript">
		  $('.wysihtml5').each(function(i, elem) {
    		$(elem).wysihtml5();
  		});
		</script>
	</div>

	<div class="form-group">
		<%= f.submit class: "btn btn-primary" %>
		<%= link_to "Cancel", :back , class: "btn btn-default" %>
	</div>
<% end -%>

